<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Forget Password</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<style>
		body {
			font-family: 'Dancing Script', cursive;
			background-color: rgb(192, 192, 192);
		}
	</style>
</head>

<body>

	<div class="container p-2 mt-5">
		<form th:action="@{/resetPassword}" th:object="${forgetUser}" method="POST">
			<div class="row p-2">
				<div class="col-6 offset-3 p-3 ">
					<div class="container mt-5 bg-light border border-5 border-dark">
						<div class="row p-1 bg-secondary">
							<div class="col-6">
								<h4 class="m-2 text-white"><b>Forget Password Form</b></h4>
							</div>
							<div class="col-3 offset-3">
								<a href="/login" class="btn btn-md btn-danger mt-1">Login</a>
							</div>
						</div>

						<div class="row mt-5 mb-3">
							<label for="email" class="form-label col-3"><b>Email :</b></label>
							<div class="col-5">
								<input id="email" th:field="*{email}" class="form-control mb-3">
							</div>
							<div class="col-4">
								<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">
								</span>
							</div>
						</div>

						<div class="row mb-4">
							<label for="newpassword" class="form-label col-3"><b>New Password:</b></label>
							<div class="col-5">
								<input id="newpassword" type="password" th:field="*{newpassword}"
									class="form-control mb-3">
								<input type="checkbox" class="custom-control-input" id="customCheck"
									onclick="myFunction()" />
								<label class="custom-control-label" for="customCheck">Show Password</label>
							</div>
							<div class="col-4">
								<span th:if="${#fields.hasErrors('newpassword')}" th:errors="*{newpassword}"
									class="text-danger">
								</span>
							</div>
						</div>

						<div class="row">
							<label for="confirmpassword" class="form-label col-3"><b>Confirm Passwd:</b></label>
							<div class="col-5">
								<input id="confirmpassword" type="password" th:field="*{confirmpassword}"
									class="form-control mb-3">
								<input type="checkbox" class="custom-control-input" id="customCheck1"
									onclick="myFunction1()" />
								<label class="custom-control-label" for="customCheck1">Show Password</label>
							</div>
							<div class="col-4">
								<span th:if="${#fields.hasErrors('confirmpassword')}" th:errors="*{confirmpassword}"
									class="text-danger">
								</span>
							</div>
						</div>


						<div class="row">
							<div class="col-6 offset-3 mt-3">
								<p th:text="${error}" class="text-danger ms-3"></p>
								<p th:text="${msg}" class="text-success ms-3"></p>
							</div>
						</div>

						<div class="row mb-2 bg-light">
							<div class="col-4 offset-3">
								<input type="submit" value="Submit" class="btn btn-success mb-4">
								<a href="/passwordReset" class="btn btn-danger mb-4">Clear</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script>
		function myFunction() {
			var x = document.getElementById("newpassword");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}

		function myFunction1() {
			var x = document.getElementById("confirmpassword");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>